.game-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    height: 90vh;
}
.rival-hand, .player-hand{
    display: flex;
    justify-content: center;
}
.rival-hand .card-image,
.player-hand .card-image {
    height: 180px;
    margin-left: -50px; /* Adjust for overlap */
    transition: transform 0.2s ease-in-out;
}
.rival-hand .card-image:first-child,
.player-hand .card-image:first-child {
    margin-left: 0;
}
.center-card {
    height: 180px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 0.5s ease-in-out;
}

/* Hide the card from its original hand when selected */
.hidden {
    visibility: hidden;
}